// WHITE
$primary-white: #F1F3F3;
$secondary-white: #FFF;

// BLACK
$primary-black: #000;

// GREY
$primary-grey: #CCC;
$secondary-grey: #00000029;
$tertiary-grey: #282430;
$quaternary-grey: #8E879E;
$quinary-grey: #7D7D7D;

// PURPLE
$primary-purple: #5E3BA5;
$secondary-purple: #55118F;

// BLUE
$primary-blue: #2196F3;
$secondary-blue: #1db6ce;
$tertiary-blue: #182ac9;
$quaternary-blue: #16319B29;
$quinary-blue: #2959b729;

// PINK
$primary-pink: #EF0E5A;

// GRADIENT
//$primary-purple)